* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background:
        linear-gradient(
            90deg,
            rgba(228, 17, 17, 0.8),
            rgba(148, 25, 37, 0.8),
            rgba(0, 0, 0, 0.8)
        ),
        url("img/background.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: #faf7f7;
}

.logo img{
    width: 50px;
    height: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


header {
    background: #000;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

h1 {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    margin: 15px 0;
}

footer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: auto;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
.me img{
    width: 500px;
    height: auto;
    border-radius: 7px;
}
.container img{
    
    width: 300px;
    height: auto;
    justify-content: space-between;
    border-radius: 10px;
}